@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=M+PLUS+Code+Latin:wght@100..700&family=Rubik+Mono+One&display=swap');

:root{
    --fonte-button : 'Rubik', sans-serif;
    --fonte-nav: 'DM Mono', sans-serif;
    --fonte-h1: 'Rubik Mono One',monospace;
    --fonte-corpo: 'M PLUS Code Latin', monospace;

    --cor-botao:#400101;
    --cor-link:#910202;
    --cor-texto-corpo:#D8D9D7;
    
} /* O :root serve para criação de variáveis*/

*{
    max-width: 100%;
    margin: 0;
    padding: 0;
    
   
} /* essas configurações são feitas para zerar qualquer estilização que o navegador tenha por padrão*/
body{
    background-color:#808080
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    background-image: linear-gradient(to bottom, #4F4F4F 50%, #FF0000);
}

#header_logo > img{
    width: 100px;
    height: 100px;
    padding-top: 20px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.7;
}

#header_logo > img:hover{
    opacity: 1;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 50px;
    font-family: var(--fonte-nav);
}

.nav_links{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.nav_links:hover{
    font-size: 1.25rem;
}

#header_button > button{
    width: 150px;
    height: 44px;
    border-radius: 25px;
    border: none;
    font-family: var(--fonte-button);
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
    background-color: var(--cor-botao);
    cursor: pointer;
    transition: 0.5s;
}

#header_button > button:hover{
    width: 155px;
    height: 49px;
    font-size: 1.5rem;
    background-color: #0D0D0D;
    border: 1px solid var(--cor-link);
    color: var(--cor-link);
}


main{
    display: flex;
    flex-wrap: wrap;
    font-family: var(--fonte-corpo);
    width: 700px;
    
}

#Sobre_nos{
    display: flex;
    width: 700px;
    flex-direction: row;
    margin-bottom: 25px;
    margin-left: 500px;
}

#Sobre_nos p{
    flex-direction: row;
    width: 325px;
    color:var(--cor-texto-corpo);
    margin-bottom: 30px;
}

#Sobre_nos h1{
    font-family: var(--fonte-h1);
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--cor-link);
    text-align: center;
}

#cadastro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    color: var(--cor-texto-corpo);
    
margin-left: 200px;
}

#cadastro h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--cor-link);
    background-color: var(--cor-fundo-cad);
}

#cadastro p{
    font-size: 1.5rem;
    width: 325px;
    background-color: var(--cor-fundo-cad);
    padding-left: 15px;
}

#input_cad{
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    width: -375px;
    padding-right: 30px;
    justify-content:flex-end;
    align-items: flex-end;
    background-color: var(--cor-fundo-cad);
}

#input_cad input{
    width: 200px;
    height: 2rem;
    padding-bottom: auto;
    border: none;
    border-radius: 4px 0px 0px 4px;
    background-color: var(--cor-texto-corpo);

}

#button_cad{
    width: 25px;
    height: 2rem;
    background-color: var(--cor-botao);
    border: 1px solid black;
    border-radius: 0px 4px 4px 0px;
}





#inicio h1{
    display: flex;
    font-family: var(--fonte-h1);
    color: var(--cor-link);
    font-size: 2rem;
    text-align: center;
    padding: 60px;
    margin-bottom:-50px
    
}



#inicio p{
    color:white;
    padding: 50px;
    text-align: center;
  
}


.projeto{
    text-align: center;
    color:white;
    padding-bottom:30%;
    padding-left: 93%;
}


#projetos{
    display:flex;
    justify-content:space-around;
    text-align:center;
    width: 100%;
    height: 100px;
    color:white;
    padding-left:50%

}

.html{
    color:white;
    background-color:red;
    width: 800px;
    height: 200px
    

}

.css{
    background-color:blue;
    color:white;
    width: 800px;
    height: 200px
}

.java{
    background-color:green;
    color:white;
    width: 800px;
    height: 200px
}


footer{
    text-align: center;
    color: white;
    padding-top: 15%;
}

footer p{
    align-items: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}